<script type="text/javascript ">
   $(document).ready(
        function(){
            ShowContentAreas();

        }
    );
</script>


            <div id="body_content" class="modal">
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb">
                      <div class="end">

                      </div>
                    </div>
                  </div>
                </div>

                <div class="viewport">
                    <div class="overview">
                        <article>
                                <% if @shows.any? %>

                                <table id="showTable">
                                        <thead >
                                            <tr>
                                              <td>Date</td>
                                              <td>Location</td>
                                              <td>Bands</td>
                                              <td>Time</td>
                                              <td>Admission</td>
                                            </tr>
                                        </thead>
                                        <tbody style="margin-top: 40px;">
                                            <% count = 0 %>
                                            <% @shows.each do |show| %>
                                                <tr>
                                                    <td class="meta"><%= show.Date.time.strftime("%-m/%-d/%Y")  %></td>
                                                    <td class="meta"><%= show.Location%></td>
                                                    <td class="meta"><%= raw show.OtherBands %></td>
                                                    <td class="meta"><%= show.Date.time.strftime("%-I:%M %p") %></td>
                                                    <td class="meta"><%= number_to_currency(show.Admission) %></td>
                                                    <td><%= link_to "View", show_url(show) %></td>


                                                </tr>
                                        <% count = count + 1 %>
                                            <% end %>
                                        </tbody>
                                </table>
                                  <% else %>
                                    <%=raw @page[:side_body] %>

                                  <% end %>
                            </article>
                    </div>
                </div>
            </div>





